# Entornos Virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Django

*.log
db.sqlite3
media/

# Variables de Entorno
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db                               